apimatic-core==0.2.18
apimatic-core-interfaces==0.1.6
apimatic-requests-client-adapter==0.1.7
asgiref==3.8.1
CacheControl==0.12.14
certifi==2025.1.31
charset-normalizer==3.4.1
deprecation==2.1.0
Django==5.1.6
django-cors-headers==4.7.0
djangorestframework==3.15.2
idna==3.10
jsonpickle==3.3.0
jsonpointer==2.4
msgpack==1.1.0
packaging==24.2
pillow==11.1.0
psycopg==3.2.5
psycopg2==2.9.10
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
requests==2.32.3
setuptools==75.8.0
six==1.17.0
sqlparse==0.5.3
squareup==40.1.0.220250220
stripe==11.6.0
typing_extensions==4.12.2
urllib3==2.3.0
